body {
  background-color: #282c34;
  color: #dddddd;
  font-family: 'Lato', sans-serif;
  overflow-y: auto;
  height: 100vh;
}

code {
  display: inline-block;
  overflow: auto;
  scrollbar-width: thin;
  max-width: 95vw;
  padding: 1vh 1vw;
  font-size: 13px;
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 3px;
}

a:link {
  color: dodgerblue;
}

a:visited {
  color: mediumpurple;
}
